#username {

}

#icons > a > i {
    margin-left: 2em;
}

#icons > a {
    color: #575a5e;
}

#icons > a:hover {
    color: #0a58ca;
}

#myTabContent {
    min-height: 700px;
}

#publishButton {
    background-color: #00b894;
    border: 0;
    --bs-btn-padding-y: .32rem;
    --bs-btn-padding-x: .5rem;
}
