#detailModal {
    --bs-modal-width: 60%;
}

#icons2 > a > i {
    margin-right: 2em;
}

#icons2 > a {
    color: #575a5e;
}

#icons2 > a:hover {
    color: #0a58ca;
}

.content {
    font-size: 16px;
    line-height: 2em;
}

.replyform textarea {
    width: 100%;
    height: 200px;
}

.floor {
    background: #dcdadc;
    padding: 4px 12px;
    border-radius: 3px;
    font-size: 14px;
}

.input-size {
    width: 100%;
    height: 35px;
}